In [72]:
import numpy as np
import pandas as pd

In [78]:
index = ['Pool Participant ID', ' Asset Type', ' Asset ID']
hours_row = ['Hour 1', 'Hour 2', 'Hour 3', 'Hour 4', 'Hour 5', 'Hour 6', 'Hour 7', 'Hour 8', 'Hour 9', 'Hour 10', 'Hour 11', 'Hour 12', 'Hour 13', 'Hour 14', 'Hour 15', 'Hour 16', 'Hour 17', 'Hour 18', 'Hour 19', 'Hour 20', 'Hour 21', 'Hour 22', 'Hour 23', 'Hour 24']
hour_values = ['45.45', '48.64', '47.34', '44.89', '43.44', '70.49', '218.73', '438.24', '558.40', '552.43', '580.21', '506.76', '377.32', '168.27', '289.80', '325.83', '499.20', '627.39', '567.60', '484.54', '94.33', '65.78', '46.82', '44.73']

dates = ['May 10, 2021']

data_index = [['9496', 'RETAILER', '941A'], 
              ['9496', 'RETAILER', '941B']]

# generates 2 rows of random number data (for 24 hours) for each date
data_core = np.random.rand(2, 24)

In [79]:
hours_core = pd.DataFrame(data=data_core, columns=hours_row)
hours_core

,Hour 1,Hour 2,Hour 3,Hour 4,Hour 5,Hour 6,Hour 7,Hour 8,Hour 9,Hour 10,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
0,0.627427,0.038843,0.410527,0.113388,0.335769,0.984647,0.932912,0.708801,0.736685,0.846676,...,0.593401,0.535276,0.051206,0.608751,0.623166,0.319193,0.900558,0.479453,0.544059,0.748597
1,0.930893,0.193433,0.346658,0.720675,0.439444,0.527410,0.196603,0.965028,0.166610,0.418387,...,0.252134,0.792578,0.642800,0.368209,0.716702,0.654347,0.454305,0.013782,0.847373,0.508329

In [80]:
index_df = pd.DataFrame(data=data_index, columns=index)
index_df

  Pool Participant ID  Asset Type  Asset ID
0                9496    RETAILER      941A
1                9496    RETAILER      941B

In [81]:
concatenated = pd.concat([index_df, hours_core], axis=1).set_index(index)
concatenated

                                             Hour 1    Hour 2    Hour 3  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.627427  0.038843  0.410527
                                941B       0.930893  0.193433  0.346658

                                             Hour 4    Hour 5    Hour 6  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.113388  0.335769  0.984647
                                941B       0.720675  0.439444  0.527410

                                             Hour 7    Hour 8    Hour 9  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.932912  0.708801  0.736685
                                941B       0.196603  0.965028  0.166610

                                            Hour 10  ...   Hour 15   Hour 16  \
Pool Participant ID  Asset Type  Asset ID            ...
9496                RETAILER    941A       0.846676  ...  0.593401  0.535276
                                941B       0.418387  ...  0.252134  0.792578

                                            Hour 17   Hour 18   Hour 19  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.051206  0.608751  0.623166
                                941B       0.642800  0.368209  0.716702

                                            Hour 20   Hour 21   Hour 22  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.319193  0.900558  0.479453
                                941B       0.654347  0.454305  0.013782

                                            Hour 23   Hour 24
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.544059  0.748597
                                941B       0.847373  0.508329

[2 rows x 24 columns]

In [21]:
# concatenated.columns = pd.MultiIndex.from_tuples(zip(hours_core.columns, hour_values))
concatenated

                                           Hour 1  Hour 2  Hour 3  Hour 4  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.0000  0.0000  0.0000  0.0000
                                941C       0.0000  0.0000  0.0000  0.0000

                                           Hour 5  Hour 6  Hour 7  Hour 8  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.0000  0.0000  0.0000  0.0000
                                941C       0.0000  0.0000  0.0000  0.0000

                                           Hour 9 Hour 10  ... Hour 15  \
Pool Participant ID  Asset Type  Asset ID                  ...
9496                RETAILER    941A       0.0000  0.0000  ...  0.0000
                                941C       0.0000  0.0000  ...  0.0000

                                          Hour 16 Hour 17 Hour 18 Hour 19  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.0000  0.0000  0.0000  0.0000
                                941C       0.0000  0.0000  0.0000  0.0000

                                          Hour 20 Hour 21 Hour 22 Hour 23  \
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.0000  0.0000  0.0000  0.0000
                                941C       0.0000  0.0000  0.0000  0.0000

                                          Hour 24
Pool Participant ID  Asset Type  Asset ID
9496                RETAILER    941A       0.0000
                                941C       0.0000

[2 rows x 24 columns]

In [43]:
concatenated_pivot = concatenated.stack(0).reset_index()
concatenated_pivot.columns = ['Pool Participant ID', 'Asset Type', 'Asset ID', 'Hour', 'MWh']
concatenated_pivot

   Pool Participant ID Asset Type Asset ID     Hour     MWh
0                 9496   RETAILER     941A   Hour 1  0.0000
1                 9496   RETAILER     941A   Hour 2  0.0000
2                 9496   RETAILER     941A   Hour 3  0.0000
3                 9496   RETAILER     941A   Hour 4  0.0000
4                 9496   RETAILER     941A   Hour 5  0.0000
5                 9496   RETAILER     941A   Hour 6  0.0000
6                 9496   RETAILER     941A   Hour 7  0.0000
7                 9496   RETAILER     941A   Hour 8  0.0000
8                 9496   RETAILER     941A   Hour 9  0.0000
9                 9496   RETAILER     941A  Hour 10  0.0000
10                9496   RETAILER     941A  Hour 11  0.0000
11                9496   RETAILER     941A  Hour 12  0.0000
12                9496   RETAILER     941A  Hour 13  0.0000
13                9496   RETAILER     941A  Hour 14  0.0000
14                9496   RETAILER     941A  Hour 15  0.0000
15                9496   RETAILER     941A  Hour 16  0.0000
16                9496   RETAILER     941A  Hour 17  0.0000
17                9496   RETAILER     941A  Hour 18  0.0000
18                9496   RETAILER     941A  Hour 19  0.0000
19                9496   RETAILER     941A  Hour 20  0.0000
20                9496   RETAILER     941A  Hour 21  0.0000
21                9496   RETAILER     941A  Hour 22  0.0000
22                9496   RETAILER     941A  Hour 23  0.0000
23                9496   RETAILER     941A  Hour 24  0.0000
24                9496   RETAILER     941C   Hour 1  0.0000
25                9496   RETAILER     941C   Hour 2  0.0000
26                9496   RETAILER     941C   Hour 3  0.0000
27                9496   RETAILER     941C   Hour 4  0.0000
28                9496   RETAILER     941C   Hour 5  0.0000
29                9496   RETAILER     941C   Hour 6  0.0000
30                9496   RETAILER     941C   Hour 7  0.0000
31                9496   RETAILER     941C   Hour 8  0.0000
32                9496   RETAILER     941C   Hour 9  0.0000
33                9496   RETAILER     941C  Hour 10  0.0000
34                9496   RETAILER     941C  Hour 11  0.0000
35                9496   RETAILER     941C  Hour 12  0.0000
36                9496   RETAILER     941C  Hour 13  0.0000
37                9496   RETAILER     941C  Hour 14  0.0000
38                9496   RETAILER     941C  Hour 15  0.0000
39                9496   RETAILER     941C  Hour 16  0.0000
40                9496   RETAILER     941C  Hour 17  0.0000
41                9496   RETAILER     941C  Hour 18  0.0000
42                9496   RETAILER     941C  Hour 19  0.0000
43                9496   RETAILER     941C  Hour 20  0.0000
44                9496   RETAILER     941C  Hour 21  0.0000
45                9496   RETAILER     941C  Hour 22  0.0000
46                9496   RETAILER     941C  Hour 23  0.0000
47                9496   RETAILER     941C  Hour 24  0.0000

In [56]:
target = concatenated_pivot.drop(['Pool Participant ID','Asset Type'], axis=1)
target['Hour'] = target.apply(lambda row: row.Hour.split(' ')[1], axis=1).astype(int)
target['Peak Status'] = np.where((target.Hour >= 7) & (target.Hour <= 10), 'Peak', 'Off-Peak')
target

   Asset ID  Hour     MWh Peak Status
0      941A     1  0.0000    Off-Peak
1      941A     2  0.0000    Off-Peak
2      941A     3  0.0000    Off-Peak
3      941A     4  0.0000    Off-Peak
4      941A     5  0.0000    Off-Peak
5      941A     6  0.0000    Off-Peak
6      941A     7  0.0000        Peak
7      941A     8  0.0000        Peak
8      941A     9  0.0000        Peak
9      941A    10  0.0000        Peak
10     941A    11  0.0000    Off-Peak
11     941A    12  0.0000    Off-Peak
12     941A    13  0.0000    Off-Peak
13     941A    14  0.0000    Off-Peak
14     941A    15  0.0000    Off-Peak
15     941A    16  0.0000    Off-Peak
16     941A    17  0.0000    Off-Peak
17     941A    18  0.0000    Off-Peak
18     941A    19  0.0000    Off-Peak
19     941A    20  0.0000    Off-Peak
20     941A    21  0.0000    Off-Peak
21     941A    22  0.0000    Off-Peak
22     941A    23  0.0000    Off-Peak
23     941A    24  0.0000    Off-Peak
24     941C     1  0.0000    Off-Peak
25     941C     2  0.0000    Off-Peak
26     941C     3  0.0000    Off-Peak
27     941C     4  0.0000    Off-Peak
28     941C     5  0.0000    Off-Peak
29     941C     6  0.0000    Off-Peak
30     941C     7  0.0000        Peak
31     941C     8  0.0000        Peak
32     941C     9  0.0000        Peak
33     941C    10  0.0000        Peak
34     941C    11  0.0000    Off-Peak
35     941C    12  0.0000    Off-Peak
36     941C    13  0.0000    Off-Peak
37     941C    14  0.0000    Off-Peak
38     941C    15  0.0000    Off-Peak
39     941C    16  0.0000    Off-Peak
40     941C    17  0.0000    Off-Peak
41     941C    18  0.0000    Off-Peak
42     941C    19  0.0000    Off-Peak
43     941C    20  0.0000    Off-Peak
44     941C    21  0.0000    Off-Peak
45     941C    22  0.0000    Off-Peak
46     941C    23  0.0000    Off-Peak
47     941C    24  0.0000    Off-Peak

In [16]:
concatenated_reset_index = concatenated.reset_index()
concatenated_reset_index

,Pool Participant ID,Asset Type,Asset ID,Hour 1,Hour 2,Hour 3,Hour 4,Hour 5,Hour 6,Hour 7,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
,,,,45.45,48.64,47.34,44.89,43.44,70.49,218.73,...,289.80,325.83,499.20,627.39,567.60,484.54,94.33,65.78,46.82,44.73
0,9496,RETAILER,941A,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,9496,RETAILER,941C,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [8]:
concatenated_reset_index.to_csv('test.csv')

In [9]:
loaded = pd.read_csv('test.csv')
loaded

,Unnamed: 0,Pool Participant ID,Asset Type,Asset ID,Hour 1,Hour 2,Hour 3,Hour 4,Hour 5,Hour 6,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
0,NaN,NaN,NaN,NaN,45.45,48.64,47.34,44.89,43.44,70.49,...,289.8,325.83,499.2,627.39,567.6,484.54,94.33,65.78,46.82,44.73
1,0.0,9496.0,RETAILER,941A,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00
2,1.0,9496.0,RETAILER,941C,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00